<div class="container">
  <div class="col-xs-12">

    <div class="row">
      <div class="col-xs-4"></div>
        <div class="col-xs-4">
          <div class="dropdown">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle">
              S&P 100 
            <b class="caret"></b></a>
               <ul class="dropdown-menu">
                 <li><a href="#">Google</a></li>
                 <li><a href="#">IBM</a></li>
                 <li><a href="#">Yahoo</a></li>
               </ul>
          </div>
        </div>
      <div class="col-xs-4"></div>
    </div>
    
    <div class="row">
      <div class="col-xs-2"></div>
        <div id="main-graph" class="col-xs-8">
          <%= image_tag("chart.jpg", id: "home-image") %>
        </div>
      <div class="col-xs-2"></div>
    </div>  

    <div class="row">
      <div class="col-xs-2"></div>
        <div id="keys" class="col-xs-8">
          <div class="row">
            <div class="col-xs-2"></div>
            <div class="col-xs-1">
              <%= image_tag("green.jpg", id: "key-code") %>
            </div>
            <div id="key-words" class="col-xs-2">
              STOCK PRICE 
            </div>
            <div class="col-xs-2"></div>
            <div class="col-xs-1">
              <%= image_tag("red.jpg", id: "key-code") %> 
            </div>
            <div id="key-words" class="col-xs-2">
              SENTIMENT 
            </div>
            <div class="col-xs-2"></div>
          </div>
        </div>
      <div class="col-xs-2"></div>
    </div>

    <div class="row">
      <div class="col-xs-2"></div>
        <div id="tweets" class="col-xs-8">
          <%= image_tag("static_tweets.jpg", id: "tweets-image") %>
        </div>
      <div class="col-xs-2"></div>
    </div>

  </div>
</div>

