<div class="container home-page" style="padding: 12px;">
  <div class="row">
    <div class="col-xs-3" style="background-color: black; margin-top: 25px; margin-bottom: 25px; height: 500px;">
      <%= render 'shared/overview' %>
    </div>
    <div class="col-xs-6">
      <div class="row" style="margin-top: 25px; margin-bottom: 25px;">
        <div class="text-center">
          <%= render 'shared/bar_graph' %>
        </div>
      </div>
    </div>
    <div class="col-xs-3" style="background-color: black; margin-top: 25px; height: 500px;">
      <%= render 'shared/checklist' %>
    </div>
  </div>
</div> 
