<div class="container home-page" style="border: solid #fff 1px;">
  <div class="row">
    <div class="col-xs-12" style="border: solid #fff 1px;">

      <!-- fixed column -->
      <div class="row">
        <div class="col-xs-12" style="border: solid yellow 1px;">
          <div class="col-xs-2" style="border: solid #fff 1px;">
            Saved Searches
          </div>
      <!-- end fixed column -->
          
          <div class="col-xs-10" style="border: solid #fff 1px;">
            <div class="row">
              <div class="col-xs-12">
                <div class="col-xs-2" style="border: solid #fff 1px;">empty</div>
                <div class="col-xs-8" style="background: red;">
                  Search Field
                </div>
                <div class="col-xs-2" style="border: solid #fff 1px;">empty</div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

     
