<div class="container home-page" style="padding: 12px;">
  <div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-8">
      <div class="row" style="margin: 25px;">
        <div class="text-center">
          <%= render 'shared/bar_graph' %>
        </div>
      </div>
    </div>
    <div class="col-xs-2" style="background-color: black; margin-top: 25px;">
      <ul>
        <% @company_names.each do |company| %>
          <li>
            <%= company %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div> 
