<div class="container home-page" style="padding: 12px;">
  <div class="row">
    <div class="col-xs-12">

      <div class="row">
        <div class="row" style="margin-top: 12px;">
          <div class="col-xs-12 home-search-field">
            <div class="text-center col-xs-6 col-xs-offset-3">
              <form role="form" class="form-inline">
                <div class="form-group">
                  <input type="text" id="company" name="company" class="form-control" placeholder="Search S&P 100" />
                </div>
                  <input type="submit" value="Submit" style="color: #fff; background: black;" />
              </form>
            </div>
          </div>
        </div>
      </div> 

      <div class="row" style="margin: 25px;">
        <div class="text-center col-xs-8 col-xs-offset-2">
          <%= render 'shared/bar_graph' %>
        </div>
      </div>
          
    </div>
  </div>
</div> 
