<div id="landing-image">
<div class="container">
  <div class="col-xs-12">
    <div id="title">
      ChatterPlot
    </div>
  </div>
  <div class="row">
    Description of ChatterPlot
  </div>
  <div class="row">
    Field to enter company name
  </div>
<marquee behavior="bounce" direction="left">Welcome to ChatterPlot... where the world's chatter can make or break a company's stock value...</marquee>

</div>
</div>
