<div class="container">
  <div class="col-xs-12">
    ChatterPlot
  </div>
  <div class="row">
    Description of ChatterPlot
  </div>
  <div class="row">
    Field to enter company name
  </div>
</div>
