<div id="landing-image">
<div class="container">
  <div class="col-xs-12">
    <div id="title">
      ChatterPlot
    </div>
  </div>
  <div class="row">
    <div class="col-xs-3"></div>
    <div class="col-xs-6 scrolling">
      <marquee class="scrolling_words">Welcome to ChatterPlot... where the world's chatter can make or break a company's stock value...</marquee>
    </div>
    <div class="col-xs-3"></div>
  </div>
  <div class="row">
    Field to enter company name
  </div>
</div>
</div>
