---
http_interactions:
- request:
    method: get
    uri: http://autoc.finance.yahoo.com/autoc?query=exxon&callback=YAHOO.Finance.SymbolSuggest.ssCallback
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/x-javascript; charset=utf-8
    body:
      encoding: UTF-8
      string: YAHOO.Finance.SymbolSuggest.ssCallback({"ResultSet":{"Query":"exxon","Result":[{"symbol":"XOM","name":"Exxon
        Mobil Corporation","exch":"NYQ","type":"S","exchDisp":"NYSE","typeDisp":"Equity"},{"symbol":"XONA.SG","name":"EXXON
        MOBIL","exch":"STU","type":"S","exchDisp":"Stuttgart","typeDisp":"Equity"},{"symbol":"XONA.HA","name":"EXXON
        MOBIL","exch":"HAN","type":"S","exchDisp":"Hanover","typeDisp":"Equity"},{"symbol":"XONA.DU","name":"EXXON
        MOBIL","exch":"DUS","type":"S","exchDisp":"Dusseldorf Stock Exchange ","typeDisp":"Equity"},{"symbol":"XOM.MX","name":"Exxon
        Mobil Corporation","exch":"MEX","type":"S","exchDisp":"Mexico","typeDisp":"Equity"},{"symbol":"EXXO34.SA","name":"Exxon
        Mobil Corporation","exch":"SAO","type":"S","exchDisp":"Sao Paolo","typeDisp":"Equity"},{"symbol":"XONA.DE","name":"Exxon
        Mobil Corporation","exch":"GER","type":"S","exchDisp":"XETRA","typeDisp":"Equity"},{"symbol":"XONA.BE","name":"EXXON
        MOBIL","exch":"BER","type":"S","exchDisp":"Berlin","typeDisp":"Equity"},{"symbol":"XOM-U.TI","name":"EXXON
        MOBIL","exch":"TLO","type":"S","exchDisp":"TLX Exchange ","typeDisp":"Equity"},{"symbol":"0R1M.L","name":"EXXON
        MOBIL CORP EXXON MOBIL OR","exch":"LSE","type":"S","exchDisp":"London","typeDisp":"Equity"}]}})
  recorded_at: Sun, 17 May 2015 19:48:08 GMT
[...]
