<div class="col-xs-4">
  <div class="text-left articles-body"> 
    <% @dashboard.articles.each do |article| %>
      <p style="color: black">
      <a href=<%= article['link'] %> target="_blank"><%= article['title'] %></a>
      </p>
    <% end %>
  </div>
</div>

