<div id="container" data-array="<%= @company_names %>" data-scores="<%= @company_scores %>" style="width:auto; height:500px;"></div>
<script>
$(function () {
    $('#container').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Sentiment Scores of Top Companies'
        },
        subtitle: {
            text: 'Source: Twitter'
        },
        xAxis: {
          categories: $('#container').data('array')
        },
        yAxis: {
            min: 0,
            max: 100,
            title: {
                text: 'Sentiment Score',
                align: 'middle'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y:.1f} </b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        series: [{
            data: $('#container').data('scores'),
            name: "Company / Sentiment"
        }]
    });
});
</script>
