<div id="container" data-array="<%= @company_names %>" data-scores="<%= @company_scores %>" style="width:auto; height:500px;"></div>
<script>
  $(function () {
      $('#container').highcharts({
          chart: {
              type: 'column'
          },
          title: {
              text: 'Sentiment Scores of Top 10 Companies'
          },
          subtitle: {
              text: 'Source: Twitter'
          },
          xAxis: {
              categories: $('#container').data('array')
          },
          yAxis: {
              min: 0,
              max: 100,
              title: {
                  text: 'Sentiment Score',
                  align: 'middle'
              },
          },
          plotOptions: {
              bar: {
                  dataLabels: {
                      enabled: true
                  }
              }
          },
          series: [{
            data: $('#container').data('scores')
          }]
      });
  });
</script>
