<div id="container4" style="width:auto; height:200px;"></div>
  <script>
  $(function () { 
      $('#container4').highcharts({
          chart: {
              type: 'line'
          },
          title: {
              text: 'DJIA'
          },
          xAxis: {
              categories: ['0930', '1000', '1030', '1100', '1130','1200', '1230', '1300', '1330', '1400', '1430', '1500', '1530', '1600'],
              labels: { zIndex: 14 }
          },
          yAxis: {
              title: {
                  text: 'Average'
              }
          },
          series: [{
              name: 'Stock Price',
              data: [1, 0, 4, 5, 3, 2, 6, 6, 3, 6, 7, 3, 5]
          }, {
              name: 'Average Market Sentiment',
              data: [5, 7, 3, 12, 24, 25, 50, 70, 60, 100, 60, 80, 90]
          }]
      });
  });
  </script>

