<div id="container4" style="width:auto; height:200px;"></div>
  <script>
  $(function () { 
      $('#container4').highcharts({
          chart: {
              type: 'line'
          },
          title: {
              text: 'DJIA'
          },
          xAxis: {
              categories: ['9AM', '10AM', '11AM', 'NOON', '1PM', '2PM', '3PM', '4PM'] 
          },
          yAxis: {
              title: {
                  text: 'Average'
              }
          },
          series: [{
              name: 'Stock Price',
              data: [1, 0, 4, 5, 3, 2, 6]
          }, {
              name: 'Average Market Sentiment',
              data: [5, 7, 3, 12, 24, 25, 50]
          }]
      });
  });
  </script>

