<footer class="footer-row">
   <div class="container">
     <div class="row footer-text">
       <%= link_to "HOME", root_path %>
       <%= link_to "ABOUT", root_path %>
       <%= link_to "CONTACT", root_path %>
     </div>
  </div>
</footer>
