<div id="container3" style="width:auto; height:200px;"></div>
  <script>
  $(function () { 
      $('#container3').highcharts({
          chart: {
              type: 'line'
          },
          title: {
              text: 'NASDAQ'
          },
          xAxis: {
              categories: ['9AM', '10AM', '11AM', 'NOON', '1PM', '2PM', '3PM', '4PM'] 
          },
          yAxis: {
              title: {
                  text: 'Stocke Price'
              }
          },
          series: [{
              name: 'Stock Price',
              data: [1, 0, 4, 23, 45, 100, 23]
          }, {
              name: 'Average Market Sentiment',
              data: [5, 7, 3, 34, 56, 23, 5]
          }]
      });
  });
  </script>

