<div id="container" style="width:auto; height:200px;"></div>
  <script>
  $(function () { 
      $('#container').highcharts({
          chart: {
              type: 'line'
          },
          title: {
              text: 'Sentiment / Stock Price'
          },
          xAxis: {
              categories: ['9AM', '10AM', '11AM', 'NOON', '1PM', '2PM', '3PM', '4PM'] 
          },
          yAxis: {
              title: {
                  text: 'Stock Price'
              }
          },
          series: [{
              name: 'Stocke Price',
              data: [10, 10, 14, 15, 20, 25, 30]
          }, {
              name: 'Sentiment',
              data: [75, 75, 53, 60, 80, 85, 100]
          }]
      });
  });
  </script>

