<div id="container" style="width:auto; height:200px;"></div>
  <script>
  $(function () { 
      $('#container').highcharts({
          chart: {
              type: 'line'
          },
          title: {
              text: 'Sentiment / Stock Price'
          },
          xAxis: {
              categories: ['0930', '1000', '1030', '1100', '1130','1200', '1230', '1300', '1330', '1400', '1430', '1500', '1530', '1600'],
              labels: { zIndex: 14 }
          },
          yAxis: {
              title: {
                  text: 'Stock Price'
              }
          },
          series: [{
              name: 'Stock Price',
              data: [10, 10, 14, 15, 20, 25, 30, 30, 40, 50, 60, 40, 12, 34]
          }, {
              name: 'Sentiment',
              data: [75, 75, 53, 60, 80, 85, 100, 30, 50, 20, 60, 40, 30, 60]
          }]
      });
  });
  </script>

