<div id="container2" style="width:auto; height:200px;"></div>
  <script>
  $(function () { 
      $('#container2').highcharts({
          chart: {
              type: 'line'
          },
          title: {
              text: 'Volume / Stock Price'
          },
          xAxis: {
              categories: ['9AM', '10AM', '11AM', 'NOON', '1PM', '2PM', '3PM', '4PM'] 
          },
          yAxis: {
              title: {
                  text: 'Stock Price'
              }
          },
          series: [{
              name: 'Stock Price',
              data: [1, 0, 4, 5, 10, 8, 5]
          }, {
              name: 'Sentiment',
              data: [5, 7, 3, 4, 6, 7, 9]
          }]
      });
  });
  </script>

