<div class="container" style="padding: 12px;">
  <div class="row">
    <div class="row">
      <div class="text-center col-xs-8 col-xs-offset-2">
        <h1 style="color: #fff"><%= @company.name.capitalize %> (<%= @company.ticker_symbol %>)</h1>
      </div>
    </div>
      <div class="text-left col-xs-8 col-xs-offset-2" style="background-color: #fff; height: 500px; overflow: scroll;"> 
        <h3 style="color: black">Relevant New Articles that include mentions of <%= @company.name.capitalize %></h3>
        <% @articles.each do |article| %>
          <p style="color: black">
            <%= link_to article['title'], article['link'] %><br>
          </p>
        <% end %>
      </div>
  </div>
</div>
  
