<div class="container" style="padding: 12px;">
  <div class="row">

    <%= render 'shared/company_header' %>

    <div class="row">
      <%= render 'shared/articles' %>
      <%= render 'shared/stock_info' %>
      <%= render 'shared/tweets' %>
    </div>
        
  </div>
</div>
  
