html, body {
  height: 100%;
}

#wrapper {
  min-height: 100%;
  position: relative;
  background: url("/assets/blue_chart.jpg");
}

/* navigation */

.navbar {
  height: 50px;
  margin-bottom: 0;
  background: black;
  border: none;
  }

.navbar a {
  color: #fff;
}

#login {
  padding-top: 15px;
  float: right;
}

/* landing page */

#title {
  font-size: 80px;
  color: #fff;
  font-family: 'Michroma';
  text-align: center;
  margin-top: 210px;
  margin-bottom: 25px;
  text-shadow: 8px 8px 8px black;
}

.scrolling {
  background: black;
}

.scrolling_words {
  color: #10E843;
}

/* main graph */

.dropdown {
  margin-top: 10px;
  text-align: center;
  color: #fff;
}

.dropdown a {
  color: #fff;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
}

#main-graph {
  margin: 10px 0px 0px 0px;
}

#home-image {
  text-align: center;
  height: auto;
  width: 100%;
}

#keys {
  margin: 10px 0px 10px 0px;
}

#key-code {
  border: solid;
  border-color: #fff;
  text-align: right;
  height: auto;
  width: 100%;
}

#key-words {
  background: #fff;
  height: 100%;
  width: auto;
  padding: 1%;
}

/* marquee on landing page */

marquee {
color: #fff;
font-size: 25px;
}

/* twitter section */

#tweets {
  margin: 10px 0px 10px 0px;
}

#tweets-image {
  text-align: center;
  height: auto;
  width: 100%;
}

/* footer */

#footer {
  height: 50px;
  position: absolute;
  bottom: 0;
  background: black;
  width: 100%;
}

.footer-row {
  padding: 15px;
}

.footer-text {
  text-align: center;
}

.footer-text a {
  color: #fff;
}
