#nav-register {
  float: right;
}  

body {
  color: #fff;
  background: url("/assets/black-background.jpg");
}

#main-graph {
  border: solid;
  margin: 10px 0px 10px 0px;
}

#home-image {
  text-align: center;
  height: auto;
  width: 100%;
}

#keys {
  border: solid;
  margin: 10px 0px 10px 0px;
}

#tweets {
  border: solid;
  margin: 10px 0px 10px 0px;
  height: 200px;
}
