#nav-register {
  float: right;
}

body {
  background: image_path("background.jpg");
  font-family: "Muli", sans-serif;
  color: #fff;
}

.dropdown {
  text-align: center;
}

.dropdown a {
  color: #fff;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
}

#main-graph {
  margin: 10px 0px 10px 0px;
}

#home-image {
  text-align: center;
  height: auto;
  width: 100%;
}

#keys {
  margin: 10px 0px 10px 0px;
}

#key-code {
  text-align: right;
  height: auto;
  width: 100%;
}

#key-words {
  padding-top: 1%;
  height: 100%;
  width: auto;
}

#tweets {
  margin: 10px 0px 10px 0px;
}

#tweets-image {
  text-align: center;
  height: auto;
  width: 100%;
}
